@use '../variables'
@use '../mixins'

#main-content
    flex: 4 0 0
    background-color: variables.$bg-color
    border-radius: variables.$container-border-radius
    padding: 3rem

    section
        display: flex
        flex-direction: column
        
    h2
        color: variables.$text-color
        font-size: 2.2rem
        margin-bottom: 1.3rem
        @include mixins.center
        justify-content: start
        gap: .8rem

        &::after
            @include mixins.mixins-gradient-border
    
    p
        color: variables.$text-color-secondary
        margin-bottom: 1rem
        line-height: 1rem
            
    .btn
        @include mixins.btn
        align-self: start